/*Animations*/
@keyframes translate {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/*Fonts*/
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #18228C;
}

h3 {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #505261;
    background-color: #B6B9DB;
}

p {
    line-height: 22px;
    text-align: justify;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #72748A;
}

/*Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #C4C9FF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 90vw;
    overflow: hidden;
    background-color: #D4D7FF;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 30px auto;
    padding: 0 20px 20px 20px;
    width: 100%;
    max-width: 90vw;
    background-color: #D4D7FF;
    border-radius: 5px;
}

section {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu*/
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    width: 100%;
    max-width: 90vw;
    list-style: none;
    border-radius: 5px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #505261;
    background-color: #D4D7FF;
    border-radius: 5px;
    transition: 0.3s ease;
}

nav ul li a:hover, nav ul li a:active {
    background-color: #B6B9DB;
}

/*Images*/
img {
    width: auto;
    height: 100%;
    max-height: 25vh;
}

/*Classes*/
.translate {
    display: inline-block;
    position: relative;
    animation: translate 10s infinite linear;
}


.container, .container-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
}

.container-dots {
    gap: 5px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #555666;
    border-radius: 50%;
    animation: bounce 1s infinite;
}
.dot:nth-child(2) {
    animation-delay: 200ms;
}
.dot:nth-child(3) {
    animation-delay: 400ms;
}